h1{
    color: red;
}

.right-box{

    button{
        border: none;
        outline: none;
        background-color: #ee534f;
        padding: 13px;
        font-size: 22px;
        font-family: verdana;
        color: #fff;
        margin-top: 2rem;
        margin-left: 25rem;
        border-radius: 10px;
        box-shadow: 0 5px 12px rgba(32, 32, 32, 0.3);
    }
}